# Importing the Dependencies

In [2]:
import numpy as np #used for making arrays
import pandas as pd #used to process and analyze the data in csv file 
from sklearn.model_selection import train_test_split #allows to split our data into train data and split data  
from sklearn.linear_model import LogisticRegression #also we can use other model and check the acccuracy
from sklearn.metrics import accuracy_score #used to check the performance of our model

In [3]:
#loading the data set to a pandas dataframe
credit_card_data=pd.read_csv("C:/Users/KIIT/Desktop/Coding/PROJECT/PYTHON\CREDIT CARD FRAUD DETCTION/creditcard.csv")

In [4]:
#displayiing first 5 row of the dataset
credit_card_data.head()
#time is in secomds gives the time elapse 
#class:2 labels 0 and 1 ,0->for legit transactions 1->for fraud transactyion

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
#dissplayong the lst 5 rows of the data set
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [6]:
credit_card_data.info()
#some important information of the data set .
#It also tells no.of cols and rows ,data types and no.of values present

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
#checking the number of missing values in each column
credit_card_data.isnull().sum()
#data is clean as there is no missing values in the data
#If missing values are there we have to clean the  data by using imputation

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
#distribution of fraudulent and legit transactions
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This dataset is highly unbalanced dataset
 0-->Legit Transactions
 1-->Fradulent Transactions

In [9]:
#Seperating the data for analysis
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

In [10]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [11]:
#statistical measures of the data
legit.Amount.describe()
#this will take the amount col for the legit class datas i.e.money transacted in a particular transaction
#IN THE OUTPUT:
#count-->gives the no.of data points we have in legiut.amount
#mean-->gives us the value of the mean amount of all the 284315 transactions
#std-->standard deviation
#25%-->25% of the data is less than 5
#similarly for 50% and 75%

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [13]:
#Compare the valuees of both type of transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

We are going to handle the unbalanced data 
UNDER SAMPLING:
Build a similar dataset containing similar distribution of Legit and Fraudulent data of transactions
Number of Fraudulent Transactions--->492

In [14]:
#We will use random sampling to get a sample of 492 datapoints from legit data
legit_sample=legit.sample(n=492)

Concatenating 2 Dataframes

In [15]:
new_credit_card_data = pd.concat([legit_sample,fraud], axis=0) #axis=0 means values will be added row wise while axis =1 means will be added col wise

In [16]:
new_credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
106472,69979.0,1.402739,-1.734447,1.163581,-1.140707,-1.863417,1.234532,-2.045471,0.439960,-0.395434,...,-0.326870,-0.148714,-0.173646,-0.814609,0.501687,-0.027247,0.101689,0.012713,31.50,0
261371,159982.0,-0.728212,0.889610,1.341306,-1.302121,1.214750,-0.272243,1.431735,-0.229899,-0.572142,...,-0.244408,-0.603415,-0.367824,0.746070,0.741224,-0.632028,-0.173070,-0.176277,9.99,0
121411,76180.0,-0.542529,1.279636,1.028701,0.867031,-0.217305,-0.242168,0.024148,0.504564,-1.123884,...,-0.118337,-0.497958,-0.022916,-0.039085,-0.490289,0.309466,-0.011012,0.062235,1.29,0
114707,73591.0,-1.639062,-1.125219,2.001860,-0.634582,-1.022636,0.640334,1.028446,0.282893,0.119550,...,0.206013,0.018216,0.866857,0.259015,-0.159120,0.776797,-0.095933,0.123824,378.60,0
104830,69246.0,1.112871,-0.345889,1.076845,0.632195,-0.774475,0.658025,-0.874780,0.434266,0.835762,...,-0.043600,0.015668,0.017424,-0.285962,0.161773,0.351965,0.022321,0.008790,11.50,0

In [17]:
new_credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [18]:
new_credit_card_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [19]:
new_credit_card_data.groupby('Class').mean() #Thhis step is important to see whether we got a good sample or a bad sample
#In caes of a bad sample the differnce between the mean will be large

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95367.369919,0.096136,0.098481,0.085227,0.069724,-0.040528,-0.069443,-0.059081,0.054375,-0.040540,...,0.001331,-0.003956,0.018548,-0.026004,0.024159,0.015184,0.006047,0.001176,-0.002827,69.773069
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

The mean of the new_dataset and credit_card_dataset for both the classes 0 and 1 are same ,thus this shows that the nature of the dataset remains same is not changed.
Difference is still there and it helps our machine lerning model to yeild correctly whether our transaction is Legit or Fraudulent.

# Spliting the NEW DATASET CREATED INTO FEATURES AND TARGETS

In [20]:
X=new_credit_card_data.drop(columns ='Class', axis=1)
Y=new_credit_card_data['Class']

In [21]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
106472   69979.0  1.402739 -1.734447  1.163581 -1.140707 -1.863417  1.234532
261371  159982.0 -0.728212  0.889610  1.341306 -1.302121  1.214750 -0.272243
121411   76180.0 -0.542529  1.279636  1.028701  0.867031 -0.217305 -0.242168
114707   73591.0 -1.639062 -1.125219  2.001860 -0.634582 -1.022636  0.640334
104830   69246.0  1.112871 -0.345889  1.076845  0.632195 -0.774475  0.658025
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
106472 -2.045471  0.439960 -0.395434  ... -0.293896 -0.326870 -0.148714
261371  1.431735 -0.229899 -0.572142  ...  0.016626 -0.244408 -0.603415
121411  0.024148  0.504564 -1.123884  ...  0.080299 -0.118337 -0.497958
114707  1.028446  0.282893  0.119550  ...  0.851670  0.206013  0.018216
104830 -0.874780  0.434266  0.835762  ... -0.167127 -0.043600  0.015668
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
106472 -0.173646 -0.814609  0.501687 -0.027247  0.101689  0.012713   31.50
261371 -0.367824  0.746070  0.741224 -0.632028 -0.173070 -0.176277    9.99
121411 -0.022916 -0.039085 -0.490289  0.309466 -0.011012  0.062235    1.29
114707  0.866857  0.259015 -0.159120  0.776797 -0.095933  0.123824  378.60
104830  0.017424 -0.285962  0.161773  0.351965  0.022321  0.008790   11.50
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [22]:
print(Y)

106472    0
261371    0
121411    0
114707    0
104830    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

# Split the Data into Training Data and Testing Data

In [23]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=3)
#20% of data will be stored in X_test and corresponding class will be stored in Y_test  
#X and Y are the features
#test_size=.2---> means 20% 0f the data will be used for testing 
#stratify=Y--->evenly distributed classes in two sets i.e.train and test set
#random_state=2--->is how do you want to split the data

In [24]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

# Model Training using LOGISTIC REGRESSION

In [25]:
model = LogisticRegression()

In [26]:
#Training the Logistic Regression Model using Training data
model.fit(X_train, Y_train)
#fit--> function helps in fitting the data into our logistic regression model
#X_train-->contains all the features of the trainig data 
#Y_train-->contains the labels of the corresponding training data

LogisticRegression()

# Model Evaluation based on Accuracy Score

In [27]:
#finding accuracy score from the training data
#The model will predict the values of Y_train from the X_train values provided then the predicted values will be compared to the original values in the dataset
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [28]:
print("Accuracy on Training Data", training_data_accuracy)

Accuracy on Training Data 0.940279542566709

In [29]:
#finding accuracy score from the testing data
#The model will predict the values of Y_test from the X_test values provided then the predicted values will be compared to the original values in the dataset
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [30]:
print("Accuracy on Testing Data", testing_data_accuracy)
print('Accuracy is:',testing_data_accuracy*100)

Accuracy on Testing Data 0.949238578680203
Accuracy is: 94.9238578680203